@import './../../styles/variables';

.form-create-academy {
    background: $color-white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 450px;
    padding: 2rem;

    &__heading {
        color: $color-black;
        text-align: center;
    }

    &__actions {
        text-align: center;
    }
}
